footer
    div(id="nav")
        nav
            a(href="index.html")
                img(src="imgs/logo.png", alt="日子選物logo" class="logo")

            div(class="link")
                a(href="newarrivals.html") 最新商品
                a(href="#") 文具用品
                a(href="#") 生活收納
                a(href="#") 美妝保養
                a(href="#") 品牌總覽
    div(id="copy") Copyright &copy; 2019 © 日子選物. ALL RIGHTS RESERVED.