<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title 日子選物
        div
            a(class="logo" href="#")
                img(src="imgs/logo.png", alt="首頁 logo")
            div(class="link")
                nav(id="nav")
                    a(href="#") 文具用品
                    a(href="#") 生活收納
                    a(href="#") 美妝保養
                    a(href="#") 品牌總覽
        div(id="button")
            a(href="#") 會員登入
            a(href="#" class="button-mr")
                img(src="imgs/shopping.png" alt="購物車")  
    body