//- mixin 區塊
//- 產生標題(英文標題，中文標題)
//- 產生產品區塊(圖片，產品標題，產品說明)
mixin product-box(img, tit2, text)
    div(class="product-box")
                a(href="#")
                    img(src="imgs/product01.jpg", alt="產品 照片")
                    h2 無針釘書機
                    hr
                    h2 售價 480 元

<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title 日子選物
        link(rel="stylesheet", href="style.css")
        
        div(id="button")
            //- a(href="#")
            //- img(src="imgs/shopping.png" alt="購物車")  
            a(href="#") 購物車
            a(href="#") 會員登入

        div(id="inner")
            img(src="imgs/logo.png", alt="日子選物logo")

            nav
                div(id="link")
                    a(href="#") 最新商品
                    a(href="#") 文具用品
                    a(href="#") 生活收納
                    a(href="#") 美妝保養
                    a(href="#") 品牌總覽
    footer 日子選物&copy;2019
        
    body
        div(class="slide-container")
            span(id="slider-image-1")
            span(id="slider-image-2")
            span(id="slider-image-3")
            div(class="image-container")
                img(src="imgs/banner01.jpg" class="slider-image")
                img(src="imgs/banner02.jpg" class="slider-image")
                img(src="imgs/banner03.jpg" class="slider-image")
            div(class="button-container")
            a(href="#slider-image-1" class="slider-button")
            a(href="#slider-image-2" class="slider-button")
            a(href="#slider-image-3" class="slider-button")

        title("proproduct", "產品介紹")
        section(id="product-box")
            +product-box
            +product-box
            +product-box