<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title 日子選物
        link(rel="stylesheet", href="style.css")
        
        div(id="button")
            //- a(href="#")
            //-      img(src="imgs/shopping.png" alt="購物車")  
            a(href="#") 購物車
            a(href="#") 會員登入

        div(id="inner")
            img(src="imgs/Logo.png", alt="日子選物logo")

            nav
                div(id="link")
                    a(href="#") 最新商品
                    a(href="#") 文具用品
                    a(href="#") 生活收納
                    a(href="#") 美妝保養
                    a(href="#") 品牌總覽
    body
        