//- mixin 區塊

//- 產生產品區塊(圖片，產品標題，產品說明)
mixin product-box(img, tit2, price)
    div(class="product-box")
                a(href="#")
                    img(src="imgs/" + img + ".jpg", alt="產品 照片") 
                    h2=tit2
                    p=price 
//- mixin 區塊
//- 產生標題(大標題，敘述)
mixin title(bigtitle,depiction)
    div(class="title-box")
        h2(class="title")=bigtitle
        h1=depiction


<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title 日子選物
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="imgs/favicon.png", type="image/x-icon")
        
    body
        include nav.html
        include banner.html
        +title("本週最新商品 ", "單筆滿1500免運！24HR出貨")
        section(id="product")
            +product-box("product01", "無針釘書機", "NT$480元")
            +product-box("product02", "右手超人造型印章", "NT$480元")
            +product-box("product03", "Plastic Farm手提網袋", "NT$780元")
            +product-box("product04", "商人藝術家 手錶（米）", "NT$1,880元")
            +product-box("product05", "商人藝術家 手錶（藍）", "NT$1,880元")
            +product-box("product06", "商人藝術家 手錶（金屬）", "NT$2,080元")
            +product-box("product07", "J.Hannah 指甲油 (SALTILLO)", "NT$650元")
            +product-box("product08", "J.Hannah 指甲油 (RELIC)", "NT$650元")
            +product-box("product09", "J.Hannah 指甲油 (HEPWORTH)", "NT$650元")
        include footer.html
   
