div(id="button")
    a(href="#") 會員登入
    a(href="#") 購物車
        //- img(src="imgs/shopping.png", alt="購物車icon" class="icon")

div(id="nav")
    nav
         a(href="index.html")
             img(src="imgs/logo.png", alt="日子選物logo" class="logo")

         div(class="link")
            a(href="#") 最新商品
            a(href="#") 文具用品
            a(href="#") 生活收納
            a(href="#") 美妝保養
            a(href="#") 品牌總覽
