
*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    border: 0.2px solid rgba(255, 0, 0, 0.2);
    color:black;
}

/* 按扭區塊 */
#button {
    float: right;
}

#button a{
    color:#1d4872;
    text-decoration: none;
    /* 內距：上下 左右 */
    padding: 5px 10px;
    /* 字體粗細 0 - 900 */
    font-weight: 900;
    font-size: 0.7em;
}

/* #button a img{
    height:25px;
    margin: 0 auto;
    padding: 0 auto;
}  */

#button a:hover{
    background-color: #1d4872;
    color:#dbdbdb;
    transition: 0.6s;
}

#nav{
    background-color: #fff;
    width: 100vw;
    height: 200px;
    text-align:center;
    margin: 25px auto;
    padding: o auto;
}

/* .icon{
    width: 23px;
} */

.logo{
    width: 300px;
}

/* 導覽列區塊 */
nav{
    width: 100vw;
    text-align: center;
}

/* 整個選單連結區塊 */
.link{
    text-align: center;
    padding: 5px 0;
}

/* 個別選單連結區塊 */
.link a{
    color:#1d4872;
    text-decoration: none;
    /* 內距：上下 左右 */
    padding: 3px 90px;
    /* 字體粗細 0 - 900 */
    font-weight: 900;
    font-size: 0.8em;
}

/* 選單轉換特效 */
.link a:hover{
    background-color: #1d4872;
    color:#dbdbdb;
    transition: 0.6s;
}

footer{
    font-weight: 500;
    font-size: 0.8em;
    color:#7f8d99;
    background-color: #f2f4f2;
    /* 定位：固定 psf */
    position: fixed;
    /* 底部距離 0 b0 */
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 15px;
    /* 行高與高度相同：垂直至中，僅限一行內容 */
    line-height: 15px;
}

#banner{
    background-color:#1d4872;
    width: 100vw;
    height: 500px;
}

.mySlides {
    display: none
  }
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 750px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color:#1d4872;
    font-weight: bold;
    font-size: 18px;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
  }
/* 標題區塊 */
.title-box {
    text-align: center;
}
.title {
    font-size:10px;
    margin: 10px 0;
    padding: 5px 0;
}

.title::before {
    content: "＼";
    padding-right: 20px;
}

.title::after {
    content: "／";
    padding-left: 20px;
}

.title-box h1 {
    font-size:8px;
    color:#1d4872;
}
  /* 產品區塊 */
#product {
    /* 顯示模式：格線 */
    display: grid;
    /* 格線-框架-欄位：欄位尺寸 欄位尺寸 欄位尺寸 */
    grid-template-columns: auto auto auto;
    /* 格線-間隙 */
    grid-gap: 50px;

    padding: 30px;

    width: 1080px;

    margin: 0 auto;

    text-align: left;
}

#product img {
    width: 330px;
}

/* 產品盒子 */
.product-box a {
    text-decoration: none;
}
.product-box h2 {
    color:#1d4872;
    letter-spacing: 3px;
    font-size: 0.8em;
}

.product-box hr {
    height: 1.2px;
    background-color:#dbdbdb;
    border: 0;
    margin: 5px 0;
}

.product-box p {
    color: #1d4872;
    font-size: 0.8em;
    padding: 0;
    line-height: 1.8;
}
